<table class="table table-sm table-borderless">
  <thead>
  <!-- Táblázat fejléce -->
  <tr class="background-t text-uppercase">
    <th class="small fw-light py-3 ps-3">{{ "APP.REQUESTS.THEAD.CREATOR" | translate }}</th>
    <th class="small fw-light py-3">{{ "APP.REQUESTS.THEAD.SUBJECT" | translate }}</th>
    <th class="small fw-light py-3">{{ "APP.REQUESTS.THEAD.DATE" | translate }}</th>
    <th></th>
  </tr>
  <!-- / Táblázat fejléce -->
  </thead>
  <tbody class="border-top-0">
    <ng-content></ng-content>
  </tbody>
</table>
