<div appPermission="COMPANY" class="dropdown">
  <i class="fas fa-ellipsis-v p-3 pe-4" data-bs-toggle="dropdown"></i>
  <ul class="dropdown-menu shadow-sm border-0">
    <!-- Szerkesztés -->
    <li class="mb-2">
      <a class="dropdown-item" [routerLink]="'edit/' + id">
        <i class="bi bi-pencil-square me-2"></i>
        {{ "APP.EMPLOYEES.DROPDOWN.EDITING" | translate }}
      </a>
    </li>
    <!-- / Szerkesztés -->

    <!-- Törlés -->
    <li>
      <a (click)="deleteEmployee()" class="dropdown-item">
        <i class="far fa-trash-alt me-2"></i>
        {{ "APP.EMPLOYEES.DROPDOWN.DELETE" | translate }}
      </a>
    </li>
    <!-- / Törlés -->
  </ul>
</div>
